:root{
    --custom-border-color: rgba(255, 255, 255, .1);
    --background-color: rgb(5, 10, 24);
}

body{
    background-color: var(--background-color); 
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden; 
}

*{
    box-sizing: border-box;
}

h1, h2, h3, a, p, span{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--custom-border-color);
}

nav > .nav-section{
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--custom-border-color);
    align-items: center;
    justify-content: center;
}

#nav-logo-section,
#nav-link-section,
#nav-social-section{
    flex-basis: calc(100% / 3);
}

#nav-logo-section > a > i{
    font-size: 2.5rem;
    transition: 1s;
    color: white !important;
}

#nav-logo-section > a > i:hover{
    transition: 1s;
    transform: rotate(-288deg);
    color: yellow !important;
}

#nav-logo-section > a{
    font-size: 2.5rem;
}

#nav-logo-section{
    justify-content: flex-start;
}

#nav-link-section{
    gap: 3rem;
    font-size: 1.2rem;
}

#nav-social-section{
    gap: 5rem;
    font-size: 1.7rem;
    flex-grow: 1;
}

main{
    flex-grow: 1;
}

main > article{
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

main > article > .article-section{
    height: 100%;
    display: flex;
    border-left: 1px solid var(--custom-border-color);
    border-bottom: 1px solid var(--custom-border-color);
}

.article-image-section{
    background-image: url(https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
}

main > article > .article-image-section {
    background-position: center;
    background-size: cover;
}

main > article > .article-description-section {
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem; 
}

main > article > .article-description-section > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
}

main > article > .article-title-section {
    align-items: center; 
    justify-content: space-between;
    padding: 2rem 4rem;
}
  
main > article > .article-title-section * {
    color: white;  
}
  
main > article > .article-title-section > h2 {
    flex-basis: 50%;
    font-family: "Rubik", sans-serif;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;  
}
  
main > article > .article-title-section > i {
    color: rgba(255, 255, 255, 0.75);
    font-size:  4rem;
}

.arrow-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.left-arrow,
.right-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--custom-border-color);
}

.left-arrow > button,
.right-arrow > button{
    font-size: 6rem;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.fa-discord{
    transition: .2s;
    color: white;   
}

.fa-discord:hover{
    transition: .2s;
    font-size: 2.5rem;
    color: rgb(114, 137, 218);
}

.fa-github{
    transition: .2s;
    color: white;
}

.fa-github:hover{
    transition: .2s;
    font-size: 2.5rem;
    color: rgb(51, 51, 51);
}

.fa-twitter{
    transition: .2s;
    color: white;
}

.fa-twitter:hover{
    transition: .2s;
    font-size: 2.5rem;
    color: rgb(29, 161, 242);
}

